@media (min-width: 992px) {
    .identify {
        max-width: 960px;
    }
}

.identify__box__showresult {
    display: flex;
    flex-direction: row;

    .image {
        width: 15rem;
        height: 15rem;
        padding-right: 1rem;

        position: relative;
    }
}

.identify {
    margin: 0 auto;
    font-family: 'Lora', sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;

    &__venture {
        margin: 0;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        width: 100%;

        &__title {
            font-size: 2rem;
            font-family: 'Lora', sans-serif;
        }

        &__description {
            font-size: 1.75rem;
            color: gray;
            font-family: 'Lora', sans-serif;
        }
    }

    &__box {
        height: 100%;
        background-color: #e9ecef;
        border-radius: 0.3rem;
        margin-bottom: 2rem;
        padding: 1rem 2rem;

        &__title {
            font-size: 2rem;
            margin-bottom: 1rem;
            font-family: 'Lora', sans-serif;
        }

        p {
            margin: 0;
            line-height: 1.5;
        }

        &__manual {
            padding-bottom: 1rem;
        }

        &__addimage {
            width: 100%;
            height: 100%;
            text-align: center;
            position: relative;
            display: flex;
            justify-content: center;

            &--center {
                width: 50%;
                padding: 3rem;
                text-align: center;
                height: 12.25rem;

                input {
                    z-index: -5;
                    opacity: 0;
                    margin: 0;
                    overflow: hidden;
                    position: relative;
                    width: 100%;
                }

                label {
                    width: 100%;
                    align-items: center;
                    border: 1px solid #ddd;
                    box-shadow: inset 0 0 7px 1px rgba(0, 0, 0, .2);
                    color: #888;
                    cursor: pointer;
                    display: inline-flex;
                    font-size: 1rem;
                    font-weight: 700;
                    justify-content: center;
                    height: 100%;
                }

                .deactive {
                    pointer-events: none;
                }
            }
        }

        &__button {
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 100%;
            justify-content: center;
            display: flex;

            button {
                width: 200px;
                color: #8eb533;
                border-color: #8eb533;
                padding: 0.5rem 1rem;
                line-height: 1.5;
                font-size: 1.25rem;
                border-radius: 0.3rem;
                border-width: 0.05rem;
                font-family: 'Lora', sans-serif;
            }
        }

        &__showimage {
            display: flex;
            justify-content: center;

            &__card {
                border: 2px dashed #ddd;
                width: 240px;
                height: 240px;
                margin: 2rem;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-content: flex-end;
                justify-content: flex-end;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }

                &__removebutton {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 1.5rem;
                    border-style: none;
                    background-color: #E76161;
                    float: right;
                    display: block;
                    position: absolute;

                    .x.icon {
                        margin: 0;
                        padding: 0;
                        width: 1rem;
                        height: 1rem;
                        color: white;
                    }
                }

                .noshow {
                    display: none;
                }
            }
        }
    }
}

.ui.buttons:not(.basic):not(.inverted)>.button,
.ui.buttons>.ui.button:not(.basic):not(.inverted) {
    width: 400px;
    height: 60px;
    align-items: flex-start;
    padding: 20px;
    display: flex;
    font-size: 20px;
    font-family: 'Lora';
    color: black;
}

.ui.modal>.image.content {
    justify-content: space-between;
}

.ui.avatar.image {
    margin-right: 15px;
    display: inline-block;
    width: 25px;
    height: 25px;

}

.ui.modal>.header:not(.ui) {
    font-family: 'Lora';
}

.identify__box__showimage__card .classifyImage {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
}